<script>
	import { onMount } from "svelte";
  const endpoint = "http://localhost:3000/entries";
	let entries = [];
	const headerLabel = () => entries.length == 1 ? "entry" : "entries"


  onMount(async function () {
    const response = await fetch(endpoint);
		
    entries = await response.json();
		console.log("New entries:", entries)
  });
</script>

{#if (entries.length == 0)}
	<p>No entries. Add one!</p>
{:else }
	<h1>{entries.length} {headerLabel()}</h1>
	<ol>
		{#each entries as entry (entry.id)}
			<li>
				{entry.phrase} / {entry.translation}
			</li>
		{/each}
	</ol>
{/if}
